.button, .button:link, .button:visited {
  font-size: 20px;
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 4px;
  -webkit-animation: bounce .6s infinite alternate;
  -moz-animation: bounce .6s infinite alternate;
  animation: bounce .6s infinite alternate;
}

}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.1); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.1); }
}
@keyframes bounce {
  to { transform: scale(1.1); }
}

.button:hover, .button:active {
  background-color: red;
}

/* Style inputs with type="text", type="email"and textareas */
input[type=text], input[type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}


